:root {
    --white: white;
    --black: black;
    --red: red;
    --orange: orange;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "joschmi", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://i.postimg.cc/KYKNHTS9/Landscape-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


nav {
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}
.topnav{
    display: flex;
    align-items: center;
}
.topnav ul{
    display: flex;

}
.links a{
    font-family: "joschmi", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 15px;
    font-size: 30px;
    color: var(--red);
    background-color: var(--white);
    padding: 8px;
    cursor: pointer;
    opacity: 0.8;
   transition: color 1 ease;

    
}
.links a:hover{
    background-color: transparent;
    color: var(--black);
    opacity: 1;
border-bottom: 2px solid var(--red);

}
nav img {
    width: 250px;
    opacity: 0.8;
}

nav img:hover {
    opacity: 1;
    cursor: pointer;
}
#toggle{
    display: none;
}
.close-menu{
   display: none;

}
.hero{
    align-items: center;
    display: flex;
justify-content: center;
flex-direction: column; 
margin-top: 0;  

}

.hero h1{
    font-size: 100px;
    color: var(--red);
    margin-top: 25px;
}
.hero h1 span{
    font-size: 100px;
    color: var(--white);
}
.hero h3{
    display:block;
    text-align: center;
    font-size: 60px;
    color: var(--white);
    margin-top: 30px;
    padding: 50px 50px;
}
.hero h3 span{
color:var(--orange);
font-size: 60px;
}

.hero button{
    font-size: 35px;
    color: var(--red);
    background-color: var(--white);
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;
    opacity: 0.8;
    transition: 0.3 ease-in-out;
}
.hero button:hover{
opacity: 1;
color: var(--white);
background-color: var(--red);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: var(--white);
}
footer h3{
    font-size: 22px;
    color: var(--red);
    font-weight: 200px;
    letter-spacing: 1px;
}

@media screen and (max-width:600px){
    #toggle{
        display: block;
        width: 70px;
        cursor: pointer;
}
.topnav {
   display:none;
   position: absolute;
   width: 100%;
   height: 100vh;
   text-align: center;
   justify-content: center;
    top:0;
    flex-direction: column;
}
   .topnav .menu-voice {
        flex-direction: column;
        text-align: center;
        margin-right: 0;
        padding-left: 0px;
        padding-top: 50px;
    }
    .topnav .close-menu{
        display: flex;
        cursor: pointer;
        font-size: 30px;
        border-radius: 15px;
        color: var(--white);
        background-color:var(--red);
        padding: 8px;
        border: none;

    }
    .menu-voice .links{
        padding: 15px;
    }
    .menu-voice .links a{
        background-color: transparent;
        color: var(--white);
        text-align: center;
        border-bottom: none;
    }
}


