h1 {
    color:white;
    text-align: center;
    font-family: "joschmi", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 50px;
}
h2{
    color:white;
    text-align: center;
    font-family: "joschmi", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 35px;
}
h3{ color:white;
    text-align: center;
    font-family: "joschmi", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 35px;
}


.color-primary{
    color:white;
}

img {
    width: 250px;
}
button{
    color:olive;
    background-color: antiquewhite;
    font-size: 50px;
    border-radius: 40px;
    padding: 5px;
    font-family: "joschmi",sans-serif;
    font-weight: 400px;
    font-style: normal;
}

p{ font-family: "joschmi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:25px;
    color: chocolate;
    background-color: antiquewhite;
    text-align: center;
    font-weight: 50px;
}
