@font-face {
    font-family: 'Elizabeth';
    src: url('ElizabethRegular.woff2') format('woff2'),
        url('ElizabethRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

